.env
.env.*
!.env.example
*.pem
*.key
*service-account*.json
*credentials*.json
terraform/.terraform/
terraform/*.tfstate*
dbt_project/profiles.yml
dbt_project/.user.yml
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
__pycache__/
*.pyc
.pytest_cache/
.coverage
.venv/
venv/
*.log
data/*
.DS_Store
.idea/
.vscode/
*.txt
!requirements.txt
terraform/.terraform.lock.hcl
!data/coords
